<div class="col-md-12">
  <h1 class="text-center">Gestión de documentos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Descarga</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-if="!documents.all.length">
        <td colspan="4" class="text-center">No existen documentos</td>
      </tr>

      <tr ng-repeat="document in documents.all | fromIndex:(documents.currentPage - 1) * dashboard.itemsPerPage | limitTo: dashboard.itemsPerPage">
        <td>{{ document.id }}</td>
        <td>{{ document.name }}</td>
        <td>{{ document.type }}</td>
        <td><a href="{{ document.url }}">Descargar</a></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-9">
      <ul uib-pagination total-items="documents.all.length" ng-model="documents.currentPage" items-per-page="dashboard.itemsPerPage" style="margin: 0;"></ul>
    </div>

    <div class="col-md-3 text-right">
      <button class="btn btn-primary" type="button" ng-click="documents.openModal()" ng-if="dashboard.user.role === 'secretariado'">Cargar documento</button>
    </div>
  </div>
</div>
