<h1 class="text-center">Bienvenid@</h1>

<div class="text-justify" style="font-size: 20px;">
  <p>
    Este proyecto se realizó con el objetivo de ofrecer un servicio web, en el que la instituciones
    educativas pueden tener un control de los datos de sus estudiantes que correspodne a dicha institución.
  </p>

  <p>
    Principalment el interes que lleva a realizar éste trabajo es el estudio del mercado que proporcionan a suplir
    una necesidad que ha surgido en las instituciones educativas, sin olvidar la posibilidad de ser también implementada
    o adquirida por empresas privadas que tiene necesidades similares como las de una institución. tales son: Asistencia,
    documentación y monitoreo académico, o se ha dado el caso proceso laborales; teniendo en cuenta las herramientas TICs
    "Tecnología de la información y comunicación" que existen actualmente en el mercado.
  </p>

  <div class="row" style="margin-top: 2em">
    <div class="col-md-6">
      <img src="assets/img/education.jpg" alt="" class="thumbnail" style="max-width: 100%">
    </div>

    <div class="col-md-6">
      <img src="assets/img/reports.jpg" alt="" class="thumbnail" style="max-width: 100%">
    </div>
  </div>
</div>
