<h1 class="text-center">Gestión de observaciones</h1>

<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Seguimiento</th>
        <th>Fecha</th>
        <th>Estudiante</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-if="!observations.all.length">
        <td colspan="6" class="text-center">No existen observaciones</td>
      </tr>

      <tr ng-repeat="observation in observations.all | fromIndex:(observations.currentPage - 1) * dashboard.itemsPerPage | limitTo: dashboard.itemsPerPage">
        <td>{{ observation.id }}</td>
        <td>{{ observation.type }}</td>
        <td>{{ observation.description }}</td>
        <td>{{ observation.tracing }}</td>
        <td>{{ observation.date }}</td>
        <td>{{ observation.first_name }} {{ observation.last_name }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-10">
      <ul uib-pagination total-items="observations.all.length" ng-model="observations.currentPage" items-per-page="dashboard.itemsPerPage" style="margin: 0;"></ul>
    </div>

    <div class="col-md-2 text-right">
      <button type="button" class="btn btn-success" ng-click="observations.openModal()" ng-if="dashboard.user.role === 'profesor'">Crear observación</button>
    </div>
  </div>
</div>
