<h1 class="text-center">Gestión de informes académicos</h1>

<div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Logro</th>
        <th>Estudiante</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-if="!reports.all.length">
        <td colspan="3" class="text-center">No existen reportes académicos</td>
      </tr>

      <tr ng-repeat="report in reports.all | fromIndex:(reports.currentPage - 1) * dashboard.itemsPerPage | limitTo: dashboard.itemsPerPage">
        <td>{{ report.id }}</td>
        <td>{{ report.achievements }}</td>
        <td>{{ report.first_name }} {{ report.last_name }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-md-8">
      <ul uib-pagination total-items="reports.all.length" ng-model="reports.currentPage" items-per-page="dashboard.itemsPerPage" style="margin: 0;"></ul>
    </div>

    <div class="col-md-4 text-right">
      <a href="pdf/export_reports.php" class="btn btn-default">Exportar a PDF</a>
      <button class="btn btn-primary" ng-click="reports.openModal()" type="button" ng-if="dashboard.user.role === 'coordinador'">Añadir informe</button>
    </div>
  </div>
</div>
