<h1 class="text-center">Gestión de usuarios</h1>

<p>
  <input type="text" ng-model="query" placeholder="Buscar..." class="form-control">
</p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correo electrónico</th>
      <th>Rol</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-if="users.all.length === 1">
      <td class="text-center" colspan="7">No hay usuarios que mostrar</td>
    </tr>

    <tr ng-repeat="user in users.all | filter:query" ng-if="user.id !== dashboard.user.id">
      <td>{{ user.id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td><button type="button" class="btn btn-primary" ng-click="users.openEditModal(user)">Editar</button></td>
      <td><button type="button" class="btn btn-danger" ng-click="users.openDeleteModal(user)">Eliminar</button></td>
    </tr>
  </tbody>
</table>

<div class="text-center col-md-12">
  <button class="btn btn-lg btn-primary" type="button" ng-click="users.openCreateModal()">Crear usuario</button>
</div>
