<h1 class="text-center">Gestión de usuarios</h1>

<p>
  <input type="text" ng-model="query" placeholder="Buscar..." class="form-control">
</p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Correo electrónico</th>
      <th>Rol</th>
      <th colspan="3" ng-if="dashboard.user.role === 'administrador'">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-if="!users.all.length">
      <td class="text-center" colspan="8">No hay usuarios que mostrar</td>
    </tr>

    <!-- TODO: Implement a workaround on pagination when the users have been filtered. A possible solution can be -> https://gist.github.com/kmaida/06d01f6b878777e2ea34 -->
    <tr ng-repeat="user in users.all | filter:query | fromIndex:(users.currentPage - 1) * dashboard.itemsPerPage | limitTo: dashboard.itemsPerPage">
      <td>{{ user.id }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td ng-if="dashboard.user.role === 'administrador'"><button type="button" class="btn btn-primary" ng-click="users.openHistoryModal(user.id)">Ver historial</button></td>
      <td ng-if="dashboard.user.role === 'administrador'"><button type="button" class="btn btn-primary" ng-click="users.openEditModal(user)">Editar</button></td>
      <td ng-if="dashboard.user.role === 'administrador'"><button type="button" class="btn btn-danger" ng-click="users.openDeleteModal(user)">Eliminar</button></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-10">
    <ul uib-pagination total-items="users.all.length" ng-model="users.currentPage" items-per-page="dashboard.itemsPerPage" style="margin: 0;"></ul>
  </div>

  <div class="col-md-2 text-right">
    <button class="btn btn-primary" type="button" ng-click="users.openCreateModal()" ng-if="dashboard.user.role === 'administrador'">Crear usuario</button>
  </div>
</div>
